$padding-vertical: 0.5rem;

.zoom-control {
  display: flex;
  flex-direction: row;

  position: absolute;
  right: 1rem;
  bottom: 1rem;

  // padding: 0.5rem;

  color: #777;
  background-color: #fff;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  button {
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    padding: $padding-vertical 00.75rem;
    margin: 0rem;
  }

  button:hover {
    background-color: #ddd;
  }
  button:active {
    color: #000;
    background-color: #eee;
  }

  button.zoom-control__reset {
    font-size: 16px;
    // fixing safari overflow:hidden pair with width:0 problem
    //https://stackoverflow.com/questions/19452034/css-width-0-and-overflow-hidden-issue-in-safari
    max-width: 0rem;
    padding: 0.25rem 0rem;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition-property: max-width, padding;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  }

  .zoom-control__value {
    font-size: 16px;

    display: block;
    width: 3rem;
    height: 100%;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;

    text-align: center;
  }
}

.zoom-control--mutated {
  button.zoom-control__reset {
    max-width: unset !important;
    padding: 0.25rem 0.5rem;
  }
}
